@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;400;700&display=swap');

*, header, main, footer{
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 100;   /* default size ja weight kõigile */
    font-size: 28px;
    text-transform: uppercase; /* igal pool on upercase, selleks et lahti saada text-transform: initial;*/
}

img{
    width: 100%;
}

header h1{
    font-weight: 700;
    font-size: 65px;
    padding-bottom: 3rem;
    padding-top: 2rem;
}
header h2{
    font-weight: 400;
    font-size: 40px;
    padding-bottom: 2rem;
    padding-top: 1rem;
}

.logo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.logo h1{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

hr{
    width: 75%;
}

header nav ul{
    display: flex;
    justify-content: space-around;
    padding-bottom: 2rem;
}
header nav ul li a{
    text-emphasis: none;
}



.about-us p{
    text-transform: initial;
}


footer{
    background-color: #172029;
}